* {
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: #111111;
  color: white;
}
header {
  background-color: black;
}

main {
  background-color: #3d0202;
}

div {
  text-align: center;
  padding-top: 10px;
  justify-content: center;
}

.h1 {
  font-size: 62px;
}

h2 {
  color: white;
  font-size: 48px;
  margin: 10px;
  padding: 10px;
}

h3 {
  color: white;
  font-size: 36px;
}

h4 {
  color: white;
}

h5 {
  font-size: 26px;
}

p {
  color: white;
  font-size: 16px;
}

li {
  color: black;
  margin: 10px;
}

#stitle {
  display: flex;
  justify-content: center;
}

#d_aside {
  background-color: #bd0808;
  padding: 10px;
  margin: 0px;
}

#d_aside2 {
  background-color: #bd0808;
  padding-left: -10px;
}
#cont_sec1 {
  background-color: #3d0202;
}
#cont_sec2 {
  background-color: #3d0202;
}

#call {
  background-color: #242021;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

#d_footer {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.barra_n {
  display: flex;
}

.nav-ul {
  list-style-type: none;
  margin: 10px;
  padding-top: 20px;
}
.nav-li {
  display: inline;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.a_n {
  color: black;
  font-size: 21px;
  margin: 5px;
  text-decoration: none;
}

.a_n:hover {
  color: #bd0808;
  font-size: 23px;
  font-weight: bold;
}

.boton {
  background-color: #bd0808;
  border: none;
  border-radius: 5%;
  color: white;
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.boton:hover {
  background-color: #8b0909;
  color: white;
  scale: scale(1.2, 1.2);
}

.img_aside {
  border-radius: 200%;
}

.d_img {
  padding: 2px;
}

.d_img:hover {
  transform: scale(1.2, 1.2);
}

.icons {
  margin: 10px;
  padding: 10px;
}

.icons:hover {
  width: 60px;
  height: 60px;
}

/*.btn btn-primary {
  background-color: #bd0808 !important;
}*/

/*TOUR*/
.body {
  background-color: #242021;
}

/*DISCOGRAFIA*/

#d_aside {
  background-color: #bd0808;
}

#d_section {
  background-color: #3d0202;
}

/*CONTACTO*/

#d_cont {
  background-color: rgb(102, 94, 94);
}

form {
  text-align: left;
  background-color: #111111;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 810px) {
  .h1 {
    font-size: 48px;
  }
}
