//Variables | Paleta de colores

$primario: #bd0808;
$secundario: #3d0202;
$Terciario: #00adef;
$blanco: white;
$negro: black;
$gris1: #111111;
$gris2: #242021;

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: $gris1;
  color: $blanco;

  div {
    text-align: center;
    padding-top: 10px;
    justify-content: center;
  }

  li {
    color: $negro;
    margin: 10px;
  }

  p {
    color: $blanco;
  }

  .h1 {
    font-size: 62px;
  }

  .h2 {
    font-size: 55px;
  }

  .boton {
    background-color: $primario;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .boton:hover {
    background-color: $secundario;
    color: $blanco;
    scale: scale(1.2, 1.2);
  }

  nav {
    .a_n {
      color: black;
      font-size: 21px;
      margin: 5px;
      text-decoration: none;
    }

    .a_n:hover {
      color: #bd0808;
      font-size: 23px;
      font-weight: bold;
    }
  }

  header {
    background-color: black;
    margin-bottom: 10px;
  }

  main {
    background-color: $gris1;
    margin-bottom: -100px;

    .banner_tour {
      margin: 20px;
      border: 1px solid black;
    }

    #stitle {
      display: flex;
      justify-content: center;
    }

    #d_aside {
      background-color: $primario;
      padding: 10px;
      margin: 0px;
    }

    #sec_form {
      border: $blanco solid 1px;
      padding: 5px;
    }

    @mixin cont_sec($colorletra, $colorFondo, $tamLetra) {
      color: $colorletra;
      background-color: $colorFondo;
      font-size: $tamLetra;
    }

    #cont_sec_i {
      @include cont_sec($blanco, $gris1, 18px);
    }

    #cont_sec_t {
      @include cont_sec($blanco, $Terciario, 21px);
    }

    #cont_sec_d {
      @include cont_sec($negro, $secundario, 16px);
      margin-top: -10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    #cont_sec_m {
      @include cont_sec($negro, $secundario, 16px);
      margin-top: -10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    #cont_sec_c {
      @include cont_sec($blanco, $gris1, 18px);
    }

    #call {
      background-color: $gris2;
      color: $blanco;
      display: flex;
      justify-content: center;
    }

    #call_t {
      @extend #call;
    }

    #call_d {
      @extend #call;
    }

    #call_m {
      @extend #call;
    }

    #call_c {
      @extend #call;
    }

    .img_aside {
      border-radius: 200%;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: $gris1;

    #d_footer {
      display: flex;
      justify-content: center;
      padding: 30px;
    }

    .icons {
      margin: 10px;
      padding: 10px;
    }

    .icons:hover {
      width: 60px;
      height: 60px;
    }
  }

  @media (max-width: 550px) {
    .h1 {
      font-size: 42px;
    }

    .h2 {
      font-size: 38px;
    }
    #img_aside {
      display: none;
    }
  }
}
